#root {
  margin: 0;
  text-align: center;
  background-color: #e4ded7;
  /* background-image: url("./assets/billie-holiday.png"); */
}

h1 {
  margin: 0;
  font-family: "Great Vibes", cursive;
  font-size: 50px;
  color: #685454;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

h1.visible {
  opacity: 1;
  transform: translateY(0);
}

h2 {
  font-family: "EB Garamond", serif;
  font-size: 30px;
  color: #685454;
}

p {
  font-family: "EB Garamond", serif;
  font-size: 22px;
  color: #685454;
}
