.AutresPrestations {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.AutresPrestations h1 {
  margin: 40px 0 20px 0;
}

.AutresPrestations h2 {
  text-align: left;
  margin: 30px 0 0 30px;
}

.AutresPrestations p {
  margin: 30px;
  text-align: justify;
  align-self: center;
}

.AutresPrestations .container {
  display: flex;
  margin-bottom: 20px;
}

.AutresPrestations .meditation-image {
  width: 300px;
  object-fit: cover;
  border-radius: 4px;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.AutresPrestations .meditation-info,
.massage-info,
.coaching-info,
.sauna-info {
  background-color: #ddcbca;
  padding: 10px 0;
  border-radius: 10px;
  margin-bottom: 20px;
}

.AutresPrestations .massage-text {
  padding: 20px 40px;
}

.AutresPrestations .btn {
  color: #685454;
  margin-bottom: 20px;
}

.AutresPrestations .meditation {
  background-color: #42b883;
}

.AutresPrestations .massages {
  background-color: #3baea0;
}
.AutresPrestations .coaching {
  background-color: #97cba9;
}
.AutresPrestations .sauna {
  background-color: #2c786c;
  color: #e4ded7;
}

@media (max-width: 768px) {
  .AutresPrestations {
    flex-direction: column-reverse;
    align-items: center;
  }

  .AutresPrestations .massage {
    width: 60%;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .AutresPrestations {
    margin: 0;
  }
}
