.AutresPrestations {
  display: flex;
  align-items: center;
  justify-content: center;
}

.AutresPrestations h1 {
  margin: 20px 0;
}

.AutresPrestations p {
  margin: 0 20px 10px 20px;
}

.AutresPrestations .massage {
  width: 300px;
}

.Jenny .jenny-intro-text {
  padding: 20px;
}
