.AutresPrestations {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.AutresPrestations h1 {
  margin: 40px 0 20px 0;
}

.AutresPrestations h2 {
  text-align: left;
  margin: 30px 0 0 30px;
}

.AutresPrestations p {
  margin: 30px;
  text-align: justify;
  align-self: center;
}

.AutresPrestations .text-container {
  padding: 20px 40px;
}

.AutresPrestations .container {
  display: flex;
  margin-bottom: 20px;
}

.AutresPrestations .meditation-image,
.massage-image,
.coaching-image,
.sauna-image {
  width: 300px;
  object-fit: cover;
  border-radius: 4px;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.AutresPrestations .meditation-info,
.massage-info,
.coaching-info,
.sauna-info {
  background-color: #ddcbca;
  padding: 10px 0;
  border-radius: 10px;
  margin-bottom: 20px;
}

.AutresPrestations .btn {
  color: #ddcbca;
  margin-bottom: 20px;
}

.AutresPrestations .meditation {
  background-color: #45171d;
}

.AutresPrestations .massages {
  background-color: #975a5e;
}
.AutresPrestations .coaching {
  background-color: #734444;
}
.AutresPrestations .sauna {
  background-color: #934662;
}

@media (max-width: 768px) {
  .AutresPrestations {
    flex-direction: column-reverse;
    align-items: center;
  }
  .AutresPrestations .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .AutresPrestations .meditation-info,
  .massage-info,
  .coaching-info,
  .sauna-info {
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  .AutresPrestations {
    margin: 0;
  }
}
