.Footer {
  background-color: #ebd5d5;
  background-image: url("./assets/billie-holiday.png");
  font-family: "EB Garamond", serif;
  margin-top: 50px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.Footer h4 {
  color: #685454;
}

.Footer a {
  color: #685454;
}

.Footer .address {
  text-align: left;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .Footer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .Footer .address {
    text-align: center;
    margin-left: 0;
  }
}
