.Intro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Intro a,
h1 {
  color: #685454;
}

.Intro .socials {
  margin: 10px;
}

.Intro .socials-icon {
  margin: 10px;
  font-size: 30px;
}

.Intro .heart-socks {
  height: 500px;
}
