.Intro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Intro a,
h1 {
  color: #685454;
}

.Intro .socials {
  margin: 10px;
}

.Intro .socials-icon {
  margin: 10px;
  font-size: 30px;
}

.Intro .music-button {
  margin: 10px;
  border: none;
  border-radius: 4px;
  background-color: #685454;
  color: #dcdbde;
}
.Intro .heart-socks {
  width: 50%;
}
