.Jenny {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Jenny .lotus {
  width: 100%;
  border-radius: 4px;
  margin-top: -40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Jenny .jenny-intro-text {
  padding: 20px 40px;
}

@media (max-width: 576px) {
  .Jenny {
    flex-direction: column-reverse;
    align-items: center;
    margin: 30px 0;
  }

  .Jenny .lotus {
    width: 60%;
    margin-top: 40px;
  }
}
