.Yoga {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.Yoga h1 {
  margin: 40px 0 20px 0;
}

.Yoga p {
  margin: 0 20px 10px 20px;
}

.Yoga .btn {
  color: #685454;
  margin-bottom: 20px;
}

.Yoga .vinyasa {
  background-color: #ffc93c;
}

.Yoga .postural {
  background-color: #f8f398;
}

.Yoga .yin {
  background-color: #f1b963;
}

.Yoga .danse {
  background-color: #f8da5b;
}

.Yoga .yoga-danse {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;
}

.Yoga .yoga-text {
  padding: 20px 40px;
}

@media (max-width: 768px) {
  .Yoga {
    flex-direction: column;
    align-items: center;
  }

  .Yoga .yoga-danse {
    width: 60%;
    margin: 0;
  }
}

@media (max-width: 576px) {
  .Yoga {
    margin: 0;
  }
}
