.Yoga {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.Yoga h1 {
  margin: 40px 0 20px 0;
}

.Yoga p {
  margin: 0 20px 10px 20px;
}

.Yoga .btn {
  background-color: #ea8a8a;
  color: #685454;
  margin-bottom: 20px;
}

.Yoga .outside-yoga {
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;
}

.Yoga .yoga-text {
  padding: 20px 40px;
}
